<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include ('./partials/nav') %>


      <div class="backgraund">
        <div class="card mx-auto m-4" style="width: 28rem;">
          <h2 class="text-center m-4">Bienvenido a My Post</h2>
          <div class="card-body text-center ">
            <h4> Aquí eres libre de expresar lo que sientas!😉 </h4>
            <a href="/allPosts" class="btn btn-primary m-4">POSTS</a>
          </div>
        </div>
      </div>
  </body>

</html>