<footer class="footer_  bg-dark">
    <div class="container">
        <div class="divider"></div>

        <div class="row">
            <div class="col-lg-6 text-left d-flex justify-content-center ">
                <p class="copy text-light ">&copy; 2024 Juan José La Terra</p>
            </div>
            <div class="col-lg-6 text-right text-light d-flex icons-cont justify-content-center">
                <p>CONTACTO</p>
                <div class="col-lg-6 text-right text-light d-flex  icons justify-content-center">
                    <a href="https://www.linkedin.com/in/juanjolt/" target="_blank">
                        <i class="bi bi-linkedin icono1"></i>
                    </a>
                    <a href="mailto:juanjo.mdt@gmail.com?subject=Consulta" target="_blank">
                        <i class="bi bi-envelope-at icono1"></i>
                    </a>
                  
                    <a href="https://api.whatsapp.com/send?phone=5491163300757" target="_blank">
                        <i class="bi bi-whatsapp icono3"></i>
                    </a>
                </div>
               
            </div>
        </div>
        <div class="divider"></div>
    </div>
</footer>