<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/nav') %>
            <div class="container p-4">
                <div class="row p-4">
                    <div class="col-md-4 mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <h3>Create post! 😁</h3>
                            </div>
                        </div>
                    </div>

                </div>
                <form action="/admin/newPost" method="post" class="col-md-10 mx-auto">
                    <div class="mb-4">
                        <h4><label for="exampleFormControlInput1" class="form-label">Title</label></h4>
                        <input type="Title" class="form-control" name="title" id="text" autofocus placeholder="Your title">
                    </div>
                    <div class="mb-3">
                        <h4> <label for="exampleFormControlTextarea1" class="form-label">Description</label></h4>
                        <textarea class="form-control" id="textArea" name="description" rows="5"></textarea>
                    </div>
                    <button class="btn btn-primary p-2">POSTEAR</button>
                </form>
            </div>

    </body>

</html>